.switcher {
    background-color: #57595c;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin: 4px;
    font-weight: bolder;
}