.switcher {
    background-color: #57595c;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 100px;
    cursor: pointer;
    margin: 4px;
    font-weight: bolder;
    text-align: center;
}